body {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1531932594968-e5e5e9dee95a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  background-position: top;
  background-repeat: no-repeat;
  line-height: 1.5;
  position: relative;
  top: 200px;
}

input[type="text"] {
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid grey;
}

button {
  padding: 5px 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 2px solid grey;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}
